@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'icomoon';

  src:  url('fonts/icons.eot?1709214019');

  src:  url('fonts/icons.eot?1709214019#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?1709214019') format('truetype'),
    url('fonts/icons.woff?1709214019') format('woff'),
    url('fonts/icons.svg?1709214019#icomoon') format('svg');

  font-weight: normal;

  font-style: normal;

  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\e902";
}

.icon-arrow-right:before {
  content: "\e904";
  font-size: 12px;
}

.icon-link-external:before {
  content: "\e906";
}

.icon-esg:before {
  content: "\e907";
}

.icon-community:before {
  content: "\e908";
}

.icon-handshake:before {
  content: "\e909";
}

.icon-globe:before {
  content: "\e90a";
}

.icon-overview:before {
  content: "\e90c";
}

.icon-dlap-logo:before {
  content: "\e900";
}

/* ! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #D9DC42;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
}

@media (min-width: 320px){
  .container{
    max-width: 320px;
  }
}

@media (min-width: 375px){
  .container{
    max-width: 375px;
  }
}

@media (min-width: 425px){
  .container{
    max-width: 425px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1551px){
  .container{
    max-width: 1551px;
  }
}

.visible{
  visibility: visible;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.bottom-0{
  bottom: 0;
}

.bottom-\[10px\]{
  bottom: 10px;
}

.left-0{
  left: 0;
}

.left-1\/2{
  left: 50%;
}

.right-0{
  right: 0;
}

.right-\[-7px\]{
  right: -7px;
}

.right-\[10px\]{
  right: 10px;
}

.top-1\/2{
  top: 50%;
}

.top-\[-2px\]{
  top: -2px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-10px{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-5px{
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-10px{
  margin-bottom: 10px;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-2px{
  margin-bottom: 2px;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-\[10px\]{
  margin-bottom: 10px;
}

.mb-\[15px\]{
  margin-bottom: 15px;
}

.ml-\[-5px\]{
  margin-left: -5px;
}

.ml-\[15px\]{
  margin-left: 15px;
}

.mr-10px{
  margin-right: 10px;
}

.mr-\[-5px\]{
  margin-right: -5px;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-5px{
  margin-top: 5px;
}

.mt-\[17px\]{
  margin-top: 17px;
}

.mt-\[30px\]{
  margin-top: 30px;
}

.mt-\[5px\]{
  margin-top: 5px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.size-full{
  width: 100%;
  height: 100%;
}

.h-2{
  height: 0.5rem;
}

.h-\[6px\]{
  height: 6px;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.h-0{
  height: 0;
}

.h-100{
  height: 25rem;
}

.max-h-10{
  max-height: 2.5rem;
}

.max-h-35px{
  max-height: 35px;
}

.min-h-17{
  min-height: 4.25rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-1\/2{
  width: 50%;
}

.w-1\/3{
  width: 33.33333333333333%;
}

.w-1\/4{
  width: 25%;
}

.w-1\/5{
  width: 20%;
}

.w-2{
  width: 0.5rem;
}

.w-3\/4{
  width: 75%;
}

.w-4\/5{
  width: 80%;
}

.w-6{
  width: 1.5rem;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[6px\]{
  width: 6px;
}

.w-\[calc\(100\%-30px\)\]{
  width: calc(100% - 30px);
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.min-w-1\/4{
  min-width: 25%;
}

.min-w-1\/5{
  min-width: 20%;
}

.min-w-12{
  min-width: 3rem;
}

.min-w-21{
  min-width: 5.25rem;
}

.min-w-23{
  min-width: 5.75rem;
}

.max-w-16{
  max-width: 4rem;
}

.max-w-40{
  max-width: 10rem;
}

.max-w-full{
  max-width: 100%;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize{
  resize: both;
}

.list-disc{
  list-style-type: disc;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8px{
  gap: 8px;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[25px\]{
  gap: 25px;
}

.gap-x-14{
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}

.gap-x-4{
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-4{
  row-gap: 1rem;
}

.overflow-hidden{
  overflow: hidden;
}

.text-ellipsis{
  text-overflow: ellipsis;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[50\%\]{
  border-radius: 50%;
}

.rounded-\[5px\]{
  border-radius: 5px;
}

.rounded-full{
  border-radius: 100%;
}

.border{
  border-width: 1px;
}

.border-1px{
  border-width: 1px;
}

.border-red{
  --tw-border-opacity: 1;
  border-color: rgb(230 42 79 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-opacity-30{
  --tw-border-opacity: 0.30;
}

.bg-\[\#FAB400\]{
  --tw-bg-opacity: 1;
  background-color: rgb(250 180 0 / var(--tw-bg-opacity));
}

.bg-red{
  --tw-bg-opacity: 1;
  background-color: rgb(230 42 79 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-5{
  --tw-bg-opacity: 0.05;
}

.\!p-20px{
  padding: 20px !important;
}

.p-0{
  padding: 0;
}

.p-15px{
  padding: 15px;
}

.p-\[20px\]{
  padding: 20px;
}

.\!py-26px{
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.\!py-6{
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-15px{
  padding-left: 15px;
  padding-right: 15px;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-page{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-10px{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-12px{
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-5px{
  padding-top: 5px;
  padding-bottom: 5px;
}

.pb-20{
  padding-bottom: 5rem;
}

.pb-20px{
  padding-bottom: 20px;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-6px{
  padding-bottom: 6px;
}

.pb-\[20px\]{
  padding-bottom: 20px;
}

.pb-\[5px\]{
  padding-bottom: 5px;
}

.pl-2{
  padding-left: 0.5rem;
}

.pl-4{
  padding-left: 1rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pr-4{
  padding-right: 1rem;
}

.pr-6{
  padding-right: 1.5rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-20px{
  padding-top: 20px;
}

.pt-26px{
  padding-top: 26px;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-4px{
  padding-top: 4px;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-\[10px\]{
  padding-top: 10px;
}

.pt-\[23px\]{
  padding-top: 23px;
}

.pt-\[2px\]{
  padding-top: 2px;
}

.pt-\[5px\]{
  padding-top: 5px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.align-middle{
  vertical-align: middle;
}

.font-noto{
  font-family: "Noto Sans", sans-serif;
}

.font-noto-serif{
  font-family: "Noto Serif", serif;
}

.text-10px{
  font-size: 10px;
}

.text-12px{
  font-size: 12px;
}

.text-14px{
  font-size: 14px;
}

.text-3{
  font-size: 0.75rem;
}

.text-4{
  font-size: 1rem;
}

.text-\[0\.8rem\]{
  font-size: 0.8rem;
}

.text-\[12px\]{
  font-size: 12px;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[36px\]{
  font-size: 36px;
}

.font-\[400\]{
  font-weight: 400;
}

.uppercase{
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}

.leading-\[18px\]{
  line-height: 18px;
}

.leading-\[20px\]{
  line-height: 20px;
}

.leading-loose{
  line-height: 2rem;
}

.leading-normal{
  line-height: 1.5rem;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline{
  text-decoration-line: underline;
}

.opacity-50{
  opacity: 0.5;
}

.opacity-60{
  opacity: 0.60;
}

.opacity-70{
  opacity: 0.70;
}

html{
  font-family: "Noto Sans", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/*body {
    background: url(/wp-content/themes/dlap/assets/img/waves.png) no-repeat bottom;
    background-size: 100%;
}*/

/* icons default size */

ul.list-disc li {
  list-style-type: disc;
  display: list-item;
}

.gradient {
  background: transparent linear-gradient(180deg, #16253F 0%, #144774 100%) 0% 0% no-repeat padding-box;
}

.tile-heading{
  font-size: 0.75rem;
}

.tile-title{
  font-size: 14px;
}

.tile-text{
  font-size: 0.75rem;
  line-height: 18px;
}

.numbers-big{
  white-space: nowrap;
  font-family: "Noto Serif", serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 2.7rem;
}

.numbers-small{
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.symbols-big{
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 200;
}

.symbols-small{
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-weight: 200;
}

.currency{
  font-size: 10px;
  font-style: italic;
}

.section-heading{
  font-size: 1.25rem;
  text-transform: uppercase;
}

.tile-text-small{
  font-size: 10px;
}

.box{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* HEADER */

header.inner-page {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 1rem;
  padding-top: 18px;
  padding-bottom: 18px;
}

header .btn-back {
  transform: translateY(-50%);
}

/* graphs */

/* progress bar */

/* default */

progress{
  display: block;
  height: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
  background-color: rgba(255,255,255,0.2);
}

/* progress custom colors */

progress.green::-webkit-progress-value{
  --tw-bg-opacity: 1;
  background-color: rgb(217 220 66 / var(--tw-bg-opacity));
}

progress.red::-webkit-progress-value{
  --tw-bg-opacity: 1;
  background-color: rgb(230 42 79 / var(--tw-bg-opacity));
}

progress.yellow::-webkit-progress-value{
  --tw-bg-opacity: 1;
  background-color: rgb(252 190 4 / var(--tw-bg-opacity));
}

progress.pink::-webkit-progress-value,
progress.mid-red::-webkit-progress-value{
  --tw-bg-opacity: 1;
  background-color: rgb(249 201 211 / var(--tw-bg-opacity));
}

progress.blue::-webkit-progress-value,
progress.mid-blue::-webkit-progress-value{
  --tw-bg-opacity: 1;
  background-color: rgb(217 234 243 / var(--tw-bg-opacity));
}

/* progress custom colors */

progress.green::-moz-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(217 220 66 / var(--tw-bg-opacity));
}

progress.red::-moz-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(230 42 79 / var(--tw-bg-opacity));
}

progress.yellow::-moz-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(252 190 4 / var(--tw-bg-opacity));
}

progress.mid-red::-moz-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(249 201 211 / var(--tw-bg-opacity));
}

progress.mid-blue::-moz-progress-bar{
  --tw-bg-opacity: 1;
  background-color: rgb(217 234 243 / var(--tw-bg-opacity));
}

.circle-progress-text{
  font-family: "Noto Serif", serif;
  font-size: 36px;
  font-weight: 200;
}

.circle-progress {
  max-width: 100%;
  width: 100%;
}

.circle-progress-value {
  stroke-width: 3px;
  stroke: hsl(39, 100%, 50%);
}

.circle-progress-circle {
  stroke-width: 3px;
  stroke: rgba(255,255,255,0.2)
}

.circle-progress-text {
  fill: #ffffff;
}

.green .circle-progress-value {
  stroke: #D9DC42;
  stroke-width: 3px;
}

.red .circle-progress-value {
  stroke: #E62A4F;
  stroke-width: 3px;
}

.yellow .circle-progress-value {
  stroke: #FCBE04;
  stroke-width: 3px;
}

/* dropdowns */

.tile-dropdown .tile-dropdown-option {
  transition: max-height 0.3s ease-in-out;
}

.tile-dropdown .tile-dropdown-option > * {
  border-top: 1px solid rgba(255,255,255,0.15);
}

.tile-dropdown.closed .tile-dropdown-option {
  max-height: 0;
}

.tile-dropdown button.toggle {
  width: 18px;
  display: contents;
}

.tile-dropdown .caret {
  transition: transform 0.2s ease-in-out;
}

.tile-dropdown.opened .caret {
  transform: rotate(180deg);
}

.tile-dropdown.opened .tile-dropdown-option {
  max-height: 10000px;
  padding-top: 1rem;
}

/* navigation */

nav{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(8px) saturate(100%);
}

nav ul.menus{
  justify-content: space-between;
  background: rgba(255,255,255,0.2);
}

nav ul.menus li{
  height: 100%;
  align-items: center;
  border-bottom-width: 4px;
  border-bottom-color: transparent;
  text-align: center;
}

nav ul.menus li.active, nav ul.menus li.current-menu-item,.desktop nav ul.menus li:hover{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(217 220 66 / var(--tw-border-opacity));
}

nav ul.menus li a{
  display: grid;
  height: 100%;
  width: 100%;
  cursor: pointer;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  align-items: flex-end;
  padding-top: 0.5rem;
}

nav ul.menus li i{
  opacity: 0.5;
}

nav ul.menus li.active i,nav ul.menus li.current-menu-item i,.desktop nav ul.menus li:hover i{
  --tw-text-opacity: 1;
  color: rgb(217 220 66 / var(--tw-text-opacity));
  opacity: 1;
}

.page-blocks .wp-block-columns .wp-block-column .box{
  margin-bottom: 0;
}

.page-blocks h2{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 17px;
  font-size: 0.75rem;
}

/* ICONS OVERRIDE */

.box .icon-arrow-right{
  position: absolute;
  right: 11px;
  bottom: 17px;
  font-size: 12px;
}

.box .icon-link-external {
  font-size: 17px;
}

.box .caret {
  font-size: 9.3px;
}

.box li::marker {
  font-size: 16px;
}

form label, form input{
  width: 100%;
}

.border-white.border-opacity-70 {
  border-color: rgba(255,255,255,0.7)
}

.error{
  font-size: 12px;
  --tw-text-opacity: 1;
  color: rgb(230 42 79 / var(--tw-text-opacity));
}

.inner-page {
  article:has(.tile-list) {
    .entry-content {
      gap: 1.2rem;
      h2.wp-block-heading {
        padding: 0;
      }
    }
  }
  .tile-with-link {
    margin-bottom: 0;
  }
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:h-0::before{
  content: var(--tw-content);
  height: 0;
}

.hover\:opacity-100:hover{
  opacity: 1;
}

@media (min-width: 1024px){
  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.ios-device.curved-screen {

  /* Header/Top Navigation */
  header,
  .site-header,
  .header,
  .top-nav {
    padding-top: calc(23px + env(safe-area-inset-top));
  }

  padding-bottom: 90px;

  nav ul {
    li {
      padding-bottom: env(safe-area-inset-bottom);
      padding-bottom: max(10px, env(safe-area-inset-bottom));
      border-bottom-width: 0px;
      &.current-menu-item {
        border-top: 2px solid rgb(217 220 66 / var(--tw-border-opacity));
      }
    }
  }
}