@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icons.eot?1709214019');
  src:  url('fonts/icons.eot?1709214019#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?1709214019') format('truetype'),
    url('fonts/icons.woff?1709214019') format('woff'),
    url('fonts/icons.svg?1709214019#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-link-external:before {
  content: "\e906";
}
.icon-esg:before {
  content: "\e907";
}
.icon-community:before {
  content: "\e908";
}
.icon-handshake:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-overview:before {
  content: "\e90c";
}
.icon-dlap-logo:before {
  content: "\e900";
}
